<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		<class name="MobileAutomation1.Mobile.AppiumBasic"/>
      <class name="MobileAutomation1.Mobile.DragDrop"/>
      <class name="MobileAutomation1.Mobile.ScrollTest"/>
      <class name="MobileAutomation1.Mobile.MiscellaneousAtivities"/>
      <class name="MobileAutomation1.Mobile.LongPress"/>
      <class name="MobileAutomation1.Mobile.SwipeTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
